/* TABULA FROM FONTSHARE.com is cool */
@import url('tabular.css');
/* My Styles */
.me{
border-radius: 50px; 
z-index: 3;
position: relative;
left: 10rem;
top: 80rem;
box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
.linkImage{
  height: 50px;
  width: 50px;
}
h1{
position: relative;
  z-index: 20;
  top: 24rem;
  left: 3rem;
  font-size: 5rem;
  
}
nav{
  display: flex;
  justify-content: space-evenly;
  top: 15rem;
  position: relative;
  z-index: 21;
  padding-bottom: 5rem;

}
a{
  position: relative;
  z-index: 21;
}
body{
    font-family: 'Tabular-Regular';
    font-size: 1rem;
    color: rgb(196, 197, 214);
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(1, 1, 35);
    line-height: 1.6;
}
.allCircles {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    justify-content: center;
    align-content: center;
    margin-bottom: 20rem;
    
  }
  .allCircles .greeting {
    position: absolute;
    top: 11.5rem;
    left: 3rem;
    right: 0;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    
  }
  .allCircles .circles {
    border-radius: 50%;
    position: absolute;
    top: 0;
    border-style: solid;
  }
  .allCircles .backCircle {
    width: 100%;
    height: 100%;
    border-width: 1px;
    border-color: darkslateblue;
    -webkit-animation: ellipsesOrbit 15s ease-in-out infinite;
            animation: ellipsesOrbit 15s ease-in-out infinite;
  }
  .allCircles .frontCircle {
    width: 99.5%;
    height: 99.5%;
    border-color: #9eb6b9 transparent;
    border-width: 2px;
    transform: rotate(-45deg);
    -webkit-animation: ellipsesRotate 15s ease-in-out infinite;
            animation: ellipsesRotate 15s ease-in-out infinite;
  }
  .allCircles .orbitCircle {
    width: 2.5rem;
    height: 2.5rem;
    border-width: 2px;
    border-color: #9eb6b9;
    top: 5rem;
    right: 6.75rem;
  }
  .allCircles .orbitCircle:before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    display: inline-block;
    background-color: thistle;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  @-webkit-keyframes ellipsesRotate {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  @keyframes ellipsesRotate {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }
  @-webkit-keyframes ellipsesOrbit {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes ellipsesOrbit {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }