@import url('sharpie.css');
/* My Styles */
img{
   height: 13vw;
   width: 15vw; 
}
body{
    font-family: 'Sharpie-Regular';
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
